/* @tailwind base;
@tailwind components;
@tailwind utilities; */


/*  Unviversal styles*/

:root {
    --primary-color: hsl(180, 94%, 21%);
    --secondary-color: hsl(100, 94%, 21%);
    --fav-blue-black: hsl(207, 85%, 3%);
    --fav-white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 71%);
    --dark-gray: hsl(0, 0%, 30%);
}

/* importing google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--primary-color);
}

.welcomeText {
    font-size: 30px;
    font-weight: 700;
    color: hsl(180, 94%, 50%);
    text-align: center;
    margin-top: 10%;
    user-select: none;
    align-items: center;
    pointer-events: none;
}

.welcomeText span {
    font-weight: 900;
    color: rgb(12, 246, 67);
}

.welcomeText p {
    color: hsl(180, 94%, 90%);
    font-size: 20px;
    font-weight: 500;
    margin-top: 2%;
    color: rgb(12, 246, 67);
}

.startButton,
.infoContainer,
.quizContainer,
.resultContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: 0px 4px 8px 0 rgba(7, 197, 169, 0.2),
                0px 6px 20px 0 rgba(8, 150, 131, 0.19); */
    transition: all 0.3s ease;
}

.infoContainer.activeInfo,
.quizContainer.activeQuiz,
.welcomeText.activeWelcome,
.resultContainer.activeResult {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1)
}


.startButton button {
    font-size: 40px;
    font-weight: 900;
    padding: 20px 50px;
    outline: none;
    border: 4px solid var(--fav-white);
    border-radius: 60px;
    background: hsl(180, 94%, 35%);
    cursor: pointer;
    color: var(--fav-white);
    transition: all 0.5s ease-in-out
}

.startButton button:hover {
    color: var(--primary-color);
    background: var(--light-gray);
    border-color: var(--light-gray);
}

.infoContainer {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    width: 540px;
    background: var(--fav-white);
    border-radius: 5px;
}


.infoContainer .containerTitle {
    height: 60px;
    width: 100%;
    border-bottom: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    padding: 0 75px;
    font-size: 30px;
    font-weight: 700;
}

.infoContainer .ruleList {
    padding: 15px 35px;
    line-height: 30px;
    font-size: 15px;
    font-weight: 700;
}

.infoContainer .ruleList .rule {
    margin: 10px 0;
    font-size: 20px;
}

.infoContainer .ruleList .rule span {
    font-weight: 600;
    color: var(--primary-color);
}

.infoContainer .navButtons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 40px;
    border-top: 2px solid var(--primary-color);
}

.infoContainer .navButtons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 2px solid var(--secondary-color);
    background: var(--primary-color);
    border-radius: 5px;
    outline: none;
    color: var(--fav-white);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease;
}

.navButtons button.quitQuiz {
    color: var(--primary-color);
    background: var(--fav-white);
}

.navButtons button.quitQuiz:hover {
    color: var(--fav-white);
    background: var(--primary-color);
}

.navButtons button.continueButton {
    color: var(--fav-white);
    background-color: var(--primary-color);
}

.navButtons button.continueButton:hover {
    color: var(--primary-color);
    background: var(--fav-white);
}

.quizContainer {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    width: 550px;
    background: var(--fav-white);
    border-radius: 7px;
}

.quizContainer header {
    position: sticky;
    z-index: 99;
    height: 60px;
    padding: 0 30px;
    background: var(--fav-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);

}

.quizContainer header .title {
    font-size: 18px;
    font-weight: 900;
}

.quizContainer header .timer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 140px;
    height: 45px;
    background: hsl(180, 94%, 28%);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 0 8px;
}

.quizContainer header .timer .timeText {
    font-weight: 700;
    font-size: 17px;
    user-select: none;
}

.quizContainer header .timer .timerSec {
    font-size: 17px;
    font-weight: 700;
    background: var(--dark-gray);
    height: 30px;
    width: 40px;
    color: var(--fav-white);
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    border: 1px solid var(--light-gray);
    user-select: none;
}

.quizContainer header .timerBar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    /* width: 50%; */
    background: red;
    height: 5px;
}

.quizContainer section {
    padding: 25px 30px 20px 30px;
    background: var(--fav-white);
}

.quizContainer section .questionText {
    font-size: 30px;
    font-weight: 700;
    user-select: none;
}

.quizContainer section .answerList {
    padding: 20px 0;
    display: block;
}

section .answerList .option {
    background: hsl(208, 100%, 97%);
    border: 2px solid hsl(208, 98%, 76%);
    border-radius: 7px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .answerList .option:hover {
    color: hsl(211, 100%, 26%);
    background: hsl(211, 77%, 80%);
    border-color: hsl(211, 100%, 86%);

}

.answerList .option:last-child {
    margin-bottom: 0;
}

.answerList .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 30%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}

.answerList .option .icon.tick {
    color: var(--primary-color);
    border-color: var(--primary-color);
    background: hsl(134, 41%, 88%);
}

.answerList .option .icon.cross {
    color: hsl(354, 88%, 26%);
    border-color: hsl(354, 88%, 26%);
    background: hsl(354, 68%, 66%);
}

.answerList .option.correct {
    color: var(--primary-color);
    /* border-color: var(--primary-color); */
    background: hsl(134, 41%, 88%);
}

.answerList .option.incorrect {
    color: hsl(354, 88%, 26%);
    /* border-color: hsl(354, 88%, 26%); */
    background: hsl(354, 100%, 87%);
}

.answerList .option.disabled {
    pointer-events: none;
}


.quizContainer footer {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quizContainer footer .questionStat span {
    display: flex;
    user-select: none;
}

footer .questionStat span p {
    font-weight: 700;
    padding: 0 5px;
}

.questionStat span p:first-child {
    padding-left: 0px;
}

footer .nextBtn {
    display: none;
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    outline: none;
    color: var(--fav-white);
    background: var(--primary-color);
    border-radius: 8px;
    border: 2px solid hsl(211, 93%, 12%);
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .nextBtn:hover {
    background: hsl(180, 94%, 28%);
    border-color: var(--fav-blue-black);
}

.resultContainer {
    background: var(--fav-white);
    width: 450px;
    padding: 25px 30px;
    border-radius: 7px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.resultContainer .icon {
    font-size: 100px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.resultContainer .completeNotice {
    font-size: 20px;
    font-weight: 700;
}

.resultContainer .scoreText span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.scoreText span p {
    font-weight: 600;
    padding: 0 4px;
}

.resultContainer .navButtons {
    display: flex;
    margin: 20px 0;
}

.resultContainer .navButtons button {
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 7px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (max-width: 600px) {
    body {

    }

    .infoContainer,
    .quizContainer,
    .resultContainer {
        width: 90%;
        font-size: 60%;
        padding: 5px;
        margin: 4;
    }


    @media (max-width: 550px) {
        body {
            background: blue;
        }
    }

    @media (max-width: 450px) {
        body {
            background: green;
        }
    }

    @media (max-width: 400px) {
        body {
            background: black;
        }
    }
