/*  Unviversal styles*/

:root {
    --primary-color: hsl(180, 94%, 21%);
    --secondary-color: hsl(100, 94%, 21%);
    --fav-blue-black: hsl(207, 85%, 3%);
    --fav-white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 71%);
    --dark-gray: hsl(0, 0%, 30%);
}

/* importing google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--primary-color);
}

.welcome-text{
    font-size: 30px;
    font-weight: 700;
    color: hsl(180, 94%, 50%);
    text-align: center;
    margin-top: 10%;
    user-select: none;
}

.welcome-text span {
    font-weight: 900;
    color: rgb(12, 246, 67);
}

.welcome-text p {
    color: hsl(180, 94%, 90%);
    font-size: 25px;
    font-weight: 500;
    margin-top: 5%;
    color: rgb(12, 246, 67);
}

.start-button,
.info-container,
.quiz-container,
.result-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), */
                /* 0px 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.start-button button {
    font-size: 40px;
    font-weight: 900;
    padding: 20px 50px;
    outline: none;
    border: 4px solid var(--fav-blue-black);
    border-radius: 20px;
    background: hsl(180, 94%, 35%);
    cursor: pointer;
    color: var(--fav-white);
}

.info-container {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    width: 540px;
    background: var(--fav-white);
    border-radius: 5px;
}


.info-container .container-title {
    height: 60px;
    width: 100%;
    border-bottom: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    padding: 0 75px;
    font-size: 30px;
    font-weight: 700;
}

.info-container .rule-list {
    padding: 15px 35px;
    line-height: 30px;
    font-size: 15px;
    font-weight: 700;
}

.info-container .rule-list .rule {
    margin: 10px 0;
    font-size: 20px;
}

.info-container .rule-list .rule span {
    font-weight: 600;
    color: var(--primary-color);
}

.info-container .nav-buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 40px;
    border-top: 2px solid var(--primary-color);
}

.info-container .nav-buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 2px solid var(--secondary-color);
    background: var(--primary-color);
    border-radius: 5px;
    color: var(--fav-white);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease;
}

.nav-buttons button.quit-quiz {
    color: var(--primary-color);
    background: var(--fav-white);
}

.nav-buttons button.quit-quiz:hover {
    color: var(--fav-white);
    background: var(--primary-color);
}

.nav-buttons button.continue {
    color: var(--fav-white);
    background-color: var(--primary-color);
}

.nav-buttons button.continue:hover {
    color: var(--primary-color);
    background: var(--fav-white);
}

.quiz-container {
    /* opacity: 0;*/
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    width: 550px;
    background: var(--fav-white);
    border-radius: 7px;
}

.quiz-container header {
    position: sticky;
    z-index: 99;
    height: 60px;
    padding: 0 30px;
    background: var(--fav-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);

}

.quiz-container header .title {
    font-size: 18px;
    font-weight: 900;
}

.quiz-container header .timer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 140px;
    height: 45px;
    background: hsl(180, 94%, 28%);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 0 8px;
}

.quiz-container header .timer .time-text {
    font-weight: 700;
    font-size: 17px;
    user-select: none;
}

.quiz-container header .timer .timer-sec {
    font-size: 17px;
    font-weight: 700;
    background: var(--dark-gray);
    height: 30px;
    width: 40px;
    color: var(--fav-white);
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    border: 1px solid var(--light-gray);
    user-select: none;
}

.quiz-container section{
    padding: 25px 30px 20px 30px;
    background: var(--fav-white);
}

.quiz-container section .question-text{
    font-size: 30px;
    font-weight: 700;
    user-select: none;
}

.quiz-container section .answer-list{
    padding: 20px 0;
    display: block;
}

section .answer-list .option {
    background: hsl(208, 100%, 97%);
    border: 2px solid hsl(208, 98%, 76%);
    border-radius: 7px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .answer-list .option:hover{
    color: hsl(211, 100%, 26%);
    background: hsl(211, 77%, 80%);
    border-color: hsl(211, 100%, 86%);
}

.answer-list .option:last-child{
    margin-bottom: 0;
}

.answer-list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 30%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}

.answer-list .option .icon.tick{
    color: var(--primary-color);
    border-color: var(--primary-color);
    background: hsl(134, 41%, 88%);
}

.answer-list .option .icon.cross{
    color: hsl(354, 88%, 26%);
    border-color: hsl(354, 88%, 26%);
    background: hsl(354, 68%, 66%);
}

.quiz-container footer{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-container footer .question-stat span{
    display: flex;
    user-select: none;
}

footer .question-stat span p{
    font-weight: 700;
    padding: 0 5px;
}

.question-stat span p:first-child{
    padding-left: 0px;
}

footer .next-btn{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    outline: none;
    color: var(--fav-white);
    background: var(--primary-color);
    border-radius: 8px;
    border: 2px solid hsl(211, 93%, 12%);
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next-btn:hover{
    background: hsl(180, 94%, 28%);
    border-color: var(--fav-blue-black);
}

.result-container{
    background: var(--fav-white);
    width: 450px;
    padding: 25px 30px;
    border-radius: 7px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.result-container .icon{
    font-size: 100px;
    color: var(--primary-color);
    margin-bottom: 10px;    
}

.result-container .complete-notice {
    font-size: 20px;
    font-weight: 700;    
}

.result-container .score-text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.score-text span{
    font-weight: 600;
    padding: 0 4px;
}

.result-container .nav-buttons{
    display: flex;
    margin: 20px 0;
}

.result-container .nav-buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 7px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
}